:root {
    --font-lato: 'Lato', sans-serif;
    --font-cocogoose: 'Cocogoose', sans-serif;
    --color-primary: #272a31;
    --color-secondary: #d3d3d3;
    --color-accent: #ec5242;
    --color-white: #ffffff;
    ---color-gray: #868686;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    background-color: #3e3e3e;
    height: 100vh;

}

.menu-style-mobile {
    margin-top: 3rem;
    font-family: var(--font-lato);
    font-size: 2rem;
    font-weight: 700;
    color: var(---color-gray);
    border-bottom: 1px solid #ec5242;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    width: 100%;
}

.menu-style-mobile:hover {
    color: #ec5242;
}

.hidden {
    display: none;
}

.close-menu-width {
    width: 5rem;
}

#mobile-close-icon-container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: -5rem;
}

.top-menu-items {
    margin-right: 2rem;
}

.top-menu-item {
    display: none;
}

.ted-logo-container {
    display: none;
}

.nav-header {
    display: none;
}

.mobile-navbar {
    height: 6.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px #00000056;
}

.mobile-ted-logo {
    width: 22rem;
}

.mobile-hamburger-menu {
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    width: 3.5rem;
}

@media only screen and (min-width: 768px) {
    .mobile-navbar {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-hamburger-menu {
        visibility: hidden;
    }

    .topmenu_container {
        width: 100%;
        background-color: #3e3e3e;
    }

    .top-menu-items {
        display: flex;
        height: 3rem;
        justify-content: flex-end;
        align-items: center;
    }

    .top-menu-item {
        margin-left: 3rem;
        font-family: var(--font-lato);
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4px;
        display: flex;
        align-items: center;
    }

    .top-menu-item a {
        color: var(--color-white);
    }

    .nav-header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 19rem;
        height: 7.5rem;

    }

    .ted-logo-container {
        display: flex;
        position: absolute;
        top: 5rem;
        left: 1.5rem;
    }

    .ted-logo {
        width: 22rem;
    }

    .nav-menu-items {
        display: flex;
        margin-right: 2rem;
    }

    .nav-menu-item {
        margin-left: 2rem;
        font-family: var(--font-lato);
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 1.7rem;
        letter-spacing: 0em;
        text-align: left;
        align-self: center;
        flex-shrink: 1;
    }

    .nav-menu-item a {
        color: var(---color-gray);
    }

    .nav-menu-item a:hover {
        color: var(--color-accent);
    }

    .campaign {
        border: 5px solid #ec5242;
        width: 14rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 15px;

    }

}

@media only screen and (min-width: 800px) {
    .ted-logo-container {
        left: 5rem;
    }

    .nav-menu-items {
        display: flex;
        margin-right: 7em;
    }

    .nav-menu-item {
        margin-left: 2rem;

    }

    .top-menu-items {
        margin-right: 10rem;
    }
}

@media only screen and (min-width: 1000px) {
    .ted-logo-container {
        left: 10rem;
    }

    .nav-menu-items {
        margin-right: 15rem;
    }

    .nav-menu-item {
        margin-left: 4rem;

    }
}

@media only screen and (min-width: 1006px) {
    .nav-menu-item {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .ted-logo-container {
        left: 16rem;
    }

    .nav-menu-items {
        margin-right: 16rem;
    }

    .nav-menu-item {
        margin-left: 6rem;

    }
}

/* Hero */
.hero-container {
    background-image: url("./images/mobile_intro_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 25px;
    padding-top: 5rem;
}

.hero-greeting {
    color: #ec5242;
    text-align: left;
    font-family: var(--font-lato);
    font-size: 2rem;
    font-weight: 500;
}

.hero-title {
    color: #ec5242;
    background: url(./images/download2.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5rem;
    font-family: var(--font-lato);
    font-weight: 900;
    line-height: 5.5rem;
    width: 100%;
    margin-bottom: 1.8rem;
}

.hero-descr {
    font-family: var(--font-lato);
    font-size: 1.6rem;
    line-height: 3rem;
    color: #4e4e50;
    border: 4px solid #ffff;
    background-color: #F7F7F7;
    width: 100%;
    padding: 1rem;

}

.hero-date {
    font-family: var(--font-cocogoose);
    color: var(--color-primary);
    font-size: 2.6rem;
    margin-top: 1.8rem;
}

.hero-location {
    color: var(--color-primary);
    font-family: var(--font-lato);
    font-size: 1.68em;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .hero-container {
        background-image: url("./images/main_big.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 10%;
    }

    .hero-greeting {
        font-size: 3.5rem;
        font-weight: 400;
    }

    .hero-title {
        margin-top: 1rem;
        font-size: 7.5rem;
        line-height: 8rem;
    }

    .hero-descr {
        margin-top: 3rem;
        width: 80%;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .hero-date {
        font-size: 2.7rem;
    }
}
