:root {
    --font-lato: 'Lato', sans-serif;
    --font-cocogoose: 'Cocogoose', sans-serif;
    --color-primary: #272a31;
    --color-secondary: #d3d3d3;
    --color-accent: #ec5242;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

ul li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--font-lato);
}
